- if !obj.parse_errors.nil? && obj.parse_errors.length > 0

  - if !obj.parse_errors.find{|err| !err["line"].nil?}.nil?

    %table.table.table-sm
      %thead
        %tr
          %th #
          - 0.upto(obj.parse_definition["columns"].values.max) do |i|
            %th
              = translate_document_column(obj.parser_class, obj.parse_definition["columns"].invert[i])
          %th.text-start= t("document_reader.error")
      %tbody
        - obj.parse_errors.each do |err|

          %tr.warning{:title => document_error_message(obj.parser_class, err)}
            - if err["line"].nil?
              %td{colspan: "100%"}
                = document_error_message(obj.class, err)
            - else
              %td= err["line"]
              - 0.upto(obj.parse_definition["columns"].values.max) do |i|
                - cell = err["row"][i]
                %td
                  - if !err["field"].nil? && obj.parse_definition[err["field"].to_sym] == i
                    %b=cell
                  - else
                    = cell
              %td.text-start
                = document_error_message(obj.class, err)
  - else
    - obj.parse_errors.each do |err|
      = document_error_message(obj.class, err)
- else
  - if obj.parse_finished_at?
    %p= t("document_reader.no_parsing_errors")
